language: python
python:
- '2.7'
- '3.4'
- '3.5'
env:
- DJANGO_VERSION=1.8
- DJANGO_VERSION=1.9
- DJANGO_VERSION=1.10b1
install:
- pip install -r requirements.txt
- pip install -r test_requirements.txt
- pip install Django==$DJANGO_VERSION.\*
- pip install coveralls
cache:
  directories:
  - "$HOME/virtualenv"
script:
- pep8 .
- pylint aloe_django setup.py tests
- coverage erase
- coverage run -m nose
- coverage combine . tests/integration/django/*
- coverage report
- "./tools/check_installs"
- make -C docs coverage
after_success:
- coveralls
sudo: false
deploy:
  provider: pypi
  user: koterpillar
  password:
    secure: fvpM7CEiJwvoID1TXYHJC8KzKfKdYo5QwFIeXBfvxixrdGmeRm+lNraMkGYVa69VlyXz5xBjKr/TB7JCIGvQfcK80PHBYfNTrQZbrW9aR5TAi6gEvEvF5yh0o2IzqOJRMw1TV/EP8/cdqtmAV40MhJ3PCMRTSqQ3+cqQHtU8/pI=
  server: https://pypi.python.org/pypi
  on:
    tags: true
    all_branches: true
    python: 3.4
    condition:
    - '"$DJANGO_VERSION" = "1.9"'
    - '"$TRAVIS_TAG" = "v$(python setup.py --version)"'
